<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pythone</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <top>
        <div class="space-between">
        <img alt="Python Logo" src="./img/python.png" class="inline">
        <div class="top-left">
            <p class="white end">Text Size:<a class="yellow" href="./">Normal</a>|<a class="yellow" href="./">Large</a></p>
            <div class="search-box shadow">
                <input type="text" placeholder="Search" class="text">
                <button class="btn white">GO</button>
            </div>
        </div>
        </div>
        <nav class="shadow">
            <ul class="nd white navItems">
                <li>About</li>
                <li>Downloads</li>
                <li>Documentation</li>
                <li>Community</li>
                <li>News</li>
                <li>Events</li>
            </ul>
        </nav>
    </top>
    <main>
            <ul class="links white">
                <li><span class="prompt yellow">>></span><a>Docs</a></li>
                <li><span class="prompt yellow">>></span><a>Audio/Visual Talks</a></li>
                <li><span class="prompt yellow">>></span><a>Beginner's Guide</a></li>
                <li><span class="prompt yellow">>></span><a>Developer's Guide</a></li>
                <li><span class="prompt yellow">>></span><a>PEP Index</a></li>
                <li><span class="prompt yellow">>></span><a>Python Books</a></li>
                <li><span class="prompt yellow">>></span><a>FAQ</a></li>

            </ul>
        <div class="info white">
            <p class="info-text">First appearing in 1991, Python is a general-purpose, high-level, interpreted programming language whose designe focus emphasizes code readability. whether for processing/analyzing data to powering many well-known applications, Python is not only a great language for new programmers but also powerful enough for seasoned developers building whatever they can think of.</p>
            <h3 class="yellow">Beatiful is better than Ugly;</h3>
            <h3 class="yellow">Explicit is better than impact;</h3>
            <h3 class="yellow">Simple is better than complex;</h3>
            <h3 class="yellow">complex is better than complicated;</h3>
            <h3 class="yellow">readability counts;</h3>
            <p class="info-text">The Zen of Python</p>
        </div>
    </main>
    <section>
        <div class="part">
            <div class="blueLine"></div>
            <h2 class="title">Getting Startted</h2>
            <p class="info-text">
                python can be easy to pick up whether you're a first time programmer or you're experienced with other languages. The following pages are a usefull first step to get on your way writing programs with Python!
            </p>
            <ul class="lu">
                <li class="li"><a>Beginner's Guide Programmers</a></li>
                <li class="li"><a>Beginner's Guide Non-Programmers</a></li>
                <li class="li"><a>Code sample and snippets for Beginners</a></li>


            </ul>
        </div>
        <div class="part">
            <div class="blueLine"></div>
            <h2 class="title">Application</h2>
            <p class="info-text">
                The Python package index (PYPI) hosts thousands of third-party modules for Python. both Python's standard library and the community-contributed modules allow for endless possibilites.
            </p>
            <ul class="lu">
                <li>Web and internet Development</li>
                <li>Database Access</li>
                <li>Desktop GUIs</li>
                <li>Network Programming</li>
                <li>Software and Game Development</li>
            </ul>
        </div>
    </section>
    <footer>
        <div class="bottom white">
            <h2>Help and General Contact</h2>
            <h2>Diversity Initiatives</h2>
            <h2>Submit Website Bugs</h2>
        </div>
        <p class="copy white">
            Copyright ©2001-2016.
        </p>
    </footer>
</body>
</html>